In [5]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [6]:
#Call the function
say_hello()

Hello!

In [7]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [9]:
# Call the function.
#Will print the variable inside of the parentheses

say_something("Hello World and other stuff testtestestestestesttstset")

Hello World and other stuff testtestestestestesttstset

In [11]:
Jane_says = "Hi my name is Jane and I wanna frickin learn python and stuff"
say_something(Jane_says)

Hi my name is Jane and I wanna frickin learn python and stuff

In [12]:
passing_math_count = 29370
total_student_count = 39170

In [13]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

In [14]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [15]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [16]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [17]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [19]:
# Using the format() function.
# .0f means no decimals
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [20]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [21]:
#df["column"] = df["column"].map("{:,}".format)
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined